@import 'theme_vars';

.navbar {
  @include mainGradient();
  .navbar-logo {
    text-align: center;
    img {
      width: 50%;
    }
  }
  form {
      position: relative;
      input {
        height: 30px;
        border-radius: 2px;
        width: 450px;
        font-size: 12px;
        @include lato(300);

      }
      input:focus {
        border-color: #f49500;
        box-shadow: 0 0 0 0.2rem rgba(244, 149, 0, 0.15);
      }
      button  {
        color: #7b49b6;
        background: #eee;
        border: none;
        border-radius: 2px;
        height: 28px;
        padding: 0 18px;
        position: absolute;
        right: 8px;
        cursor: pointer;
      }
      button:hover {
        background: #f1efef;
      }
  }
  .navbar-nav {
    width: 100%;
    justify-content: flex-end;
    li {
      a {
        color: #e6ecf1;
        position: relative;
        i {
          // color: #f49900;
          color: #fff;
        }
        i:hover {
          color:#e6ecf1;
        }
      }
      a:hover {
        color: #fff;

        .help-tip  {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}
