/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
.package-lock.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
public/mix-manifest.json
storage/framework/views
owlangs-ng-user\node_modules
storage/framework/views/144bbca3eb42b1252ceb7d9b7ef33bd2a6f865e8.php

owlangs-ng-user/node_modules/
