@import 'theme_vars';
.navigation {
  margin-top: 20px;
  background: #fff;
  border-radius:2px;
  h3 {
    font-size:18px;
    padding: 10px;
    @include lato(400);
  }
  ul {
    margin-left:0;
    padding-left: 0;
    li {
      list-style-type: none;
      border-top: 1px solid #eee;
      a {
        padding: 5px 10px;
        color: #6a44a2;
        line-height: 40px;
        font-size: 14px;
        display: inline-block;
        width: 100%;
        i {
          margin-right:10px;
        }
      }
      a:hover {
        text-decoration: none;
        background: #6a44a2;
        color: #fff;
      }
    }
  }
}


