@mixin mainGradient(){
  background: #9D50BB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #6E48AA, #9D50BB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@mixin roboto($weight){
  font-family: 'Roboto', sans-serif;
  font-weight: $weight;
}

@mixin lato($weight){
  font-family: 'Lato', sans-serif;
  font-weight: $weight;
}

@mixin lightShadow(){
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

@mixin boldShadow(){
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}
@mixin hoverShadow(){
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
}
@mixin veryLghtShadow(){
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0), 0 3px 1px -2px rgba(72, 71, 71, 0.14);
}
@mixin mainButton(){
  button {
    border: 1px solid #efd125;
    border-radius: 20px;
    margin-left: -5px;
    color: #efd125;
    font-size: 12px;
    padding: 5px 20px;
    cursor: pointer;
  }
  button:hover {
    background: #f0d43473;
    color: #fff;
  }
}
