<app-header></app-header>
<div class="container-fluid" id="main">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <app-user-block></app-user-block>
        <app-navigation></app-navigation>
      </div>
      <div class="col-md-6">
        <app-make-post [options]="makePostOptions"></app-make-post>
        <div class="search-box">
          <form action="">
            <div class="form-group d-flex justify-content-start">
              <input type="text" class="form-control">
              <button>Search</button>
            </div>
          </form>
        </div>
        <div class="jobs-box" (click)="showPopup()">
          <div class="job d-flex">
            <div class="job-img">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
            </div>
            <div class="job-content">
              <div class="job-header">
                <h3>This is a job</h3>
                <div class="meta">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    17 DEC 14:44 <span class="del">|</span> <i class="fa fa-pencil" aria-hidden="true"></i>  21 DEC, 14:44
                </div>
              </div>
              <div class="job-body">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam dolorum rem excepturi dolorem eos officiis incidunt, ad facilis, alias, aspernatur fugit neque. Consectetur accusantium dolores enim dolorem possimus pariatur maxime?</p>
              </div>
              <div class="job-footer d-flex justify-content-between">
                <div class="job-duration">
                  <i class="fa fa-calendar" aria-hidden="true"></i>Job Duration: 1 week
                </div>
                <div class="job-bids-count">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                    Bids:12
                </div>
                <div class="job-budget">
                    <i class="fa fa-money" aria-hidden="true"></i>
                    120$
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="jobs-box" (click)="showPopup()">
          <div class="job d-flex">
            <div class="job-img">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
            </div>
            <div class="job-content">
              <div class="job-header">
                <h3>This is a job</h3>
                <div class="meta">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    17 DEC 14:44 <span class="del">|</span> <i class="fa fa-pencil" aria-hidden="true"></i>  21 DEC, 14:44
                </div>
              </div>
              <div class="job-body">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam dolorum rem excepturi dolorem eos officiis incidunt, ad facilis, alias, aspernatur fugit neque. Consectetur accusantium dolores enim dolorem possimus pariatur maxime?</p>
              </div>
              <div class="job-footer d-flex justify-content-between">
                <div class="job-duration">
                  <i class="fa fa-calendar" aria-hidden="true"></i>Job Duration: 1 week
                </div>
                <div class="job-bids-count">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                    Bids:12
                </div>
                <div class="job-budget">
                    <i class="fa fa-money" aria-hidden="true"></i>
                    120$
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="jobs-box" (click)="showPopup()">
          <div class="job d-flex">
            <div class="job-img">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
            </div>
            <div class="job-content">
              <div class="job-header">
                <h3>This is a job</h3>
                <div class="meta">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    17 DEC 14:44 <span class="del">|</span> <i class="fa fa-pencil" aria-hidden="true"></i>  21 DEC, 14:44
                </div>
              </div>
              <div class="job-body">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam dolorum rem excepturi dolorem eos officiis incidunt, ad facilis, alias, aspernatur fugit neque. Consectetur accusantium dolores enim dolorem possimus pariatur maxime?</p>
              </div>
              <div class="job-footer d-flex justify-content-between">
                <div class="job-duration">
                  <i class="fa fa-calendar" aria-hidden="true"></i>Job Duration: 1 week
                </div>
                <div class="job-bids-count">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                    Bids:12
                </div>
                <div class="job-budget">
                    <i class="fa fa-money" aria-hidden="true"></i>
                    120$
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="sort-sidebar">
          <h3>Sort</h3>
          <div class="sort clearfix">
            <a href="#">My Jobs</a>
            <select name="" id="" class="cat-sort">
              <option value="cat">category</option>
              <option value="cat">excercise</option>
              <option value="cat">translate</option>
            </select>
            <div class="sort-opts">
              <input type="number" placeholder="from">
              <input type="number" placeholder="till">
            </div>
            <div class="sort-opts">
              <input type="number" placeholder="budget from">
              <input type="number" placeholder="budget till">
            </div>
            <button>Sort</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div [className]="class">
  <div class="modal-header d-flex justify-content-start">
    <h3 class="mr-auto">Job Title</h3>
    <div class="user">
      <i class="fa fa-user-circle" aria-hidden="true"></i>
      <span>username</span>
    </div>
    <button class="btn btn-secondary make-bid" type="button">
      <i class="fa fa-telegram" aria-hidden="true"></i>
      Maka a bid
    </button>
  </div>
  <div class="modal-body">
    <div class="job-meta d-flex justify-content-between">
        <div class="job-duration">
          <i class="fa fa-calendar" aria-hidden="true"></i>Job Duration: 1 week
        </div>
        <div class="job-bids-count">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            Bids:12
        </div>
        <div class="job-budget">
            <i class="fa fa-money" aria-hidden="true"></i>
            120$
        </div>
      </div>
      <div class="job-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur nostrum laborum quae sunt ut earum praesentium provident non rem. Officia, quod? Velit ab voluptates nesciunt quod rem fugiat eius doloribus.</p>
      </div>
  </div>
  <div class="modal-footer d-flex justify-content-start">
    <div class="usr-bids d-flex">
      <img src="https://pbs.twimg.com/profile_images/818501615363751936/UckrQGba_bigger.jpg" alt="">
      <div class="usr-info">
        <a href="#">user name</a>
      </div>
    </div>
    <div class="usr-bids d-flex">
      <img src="https://pbs.twimg.com/profile_images/818501615363751936/UckrQGba_bigger.jpg" alt="">
      <div class="usr-info">
        <a href="#">user name</a>
      </div>
    </div>
  </div>
</div>
