@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.hidden {
  text-indent: -99999em;
  display: none;
}

header {
  background: url(../images/background_header.jpg) no-repeat;
}

#faces {
  height: 85px;
  background: #ef8b14;
  /* Old browsers */
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: -webkit-gradient(linear, left top, right top, from(#ef8b14), color-stop(51%, #eea146), to(#ef8b14));
  background: linear-gradient(to right, #ef8b14 0%, #eea146 51%, #ef8b14 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef8b14', endColorstr='#ef8b14',GradientType=1 );
  /* IE6-9 */
}
