<div class="friends-online">
  <h3>Friends online</h3>
  <div class="friends-list">
    <div class="friend">
     <div class="header">
        <img src="https://pbs.twimg.com/profile_images/897379868014411777/xpJaG4a5_bigger.jpg" alt="">
        <div class="details">
          <h4>BBC Sport</h4>
          <button class="btn" >Message</button>
        </div>
     </div>
    </div>
    <div class="friend">
     <div class="header">
        <img src="https://pbs.twimg.com/profile_images/918856427380211713/tZX3DB2h_bigger.jpg" alt="">
        <div class="details">
          <h4>Barnacules Nerdgasm</h4>
          <button class="btn" >Message</button>
        </div>
     </div>
    </div>
    <div class="friend">
     <div class="header">
        <img src="https://pbs.twimg.com/profile_images/664516834301898752/5yEyTA0E_bigger.jpg" alt="">
        <div class="details">
          <h4>Josh Nerdgasm</h4>
          <button class="btn" >Message</button>
        </div>
     </div>
    </div>
  </div>
</div>
