<div class="show-post d-flex">
  <div class="user-img"><img src="https://pbs.twimg.com/profile_images/918856427380211713/tZX3DB2h_bigger.jpg" alt=""></div>
  <div class="post">
    <h4><a href="#">JayzTwoCents</a> <span>| 9 minutes ago</span></h4>
    <h5>Words for all cases!</h5>
    <div class="post-object">
      <div class="post-content">
          <img src="https://assets1.cdn-mw.com/mw/images/gallery/gal-home-edpick-lg/the-real-history-behind-10-words-sigil-944@1x.jpg" alt="">
          <div class="caption"><h6>Words from Game of Thrones</h6><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, labore in facere aliquid id ipsam earum at cupiditate nam blanditiis doloremque, cum quidem error eius eligendi temporibus a tempore maxime?</p></div>
      </div>
      <div class="post-funcs">
        <i class="fa fa-comment-o" aria-hidden="true"></i>
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
