.topbar .navbar-header {
  padding: 10px 20px;
}

.topbar .navbar-header a {
  padding-left: 30px;
}

.topbar .navbar-header a span {
  position: absolute;
  top: 15px;
}

.topbar .navbar-header img {
  width: 80%;
}

.topbar .dropdown {
  margin-right: 10px;
  background: #252a34;
  color: #fff;
  border-radius: 3px;
}

.topbar .dropdown a {
  color: #fff;
}

.topbar .dropdown .dropdown-menu {
  min-width: auto;
  padding: 0;
  margin: 0;
}

.topbar .dropdown .dropdown-menu a {
  background: #262a35;
  padding: 10px 20px;
}

.left-sidebar {
  background: #262a35;
}

.table-header {
  padding-top: 20px;
}

.table-header select {
  margin-right: 10px;
  font-size: 12px;
}

.table-header button {
  font-size: 12px;
  min-width: 60px;
  text-align: center;
}

.tab-pane form {
  padding-top: 10px;
}

.table-footer {
  padding-top: 20px;
}

.table-footer .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table-footer .pagination li {
  margin-left: 5px;
}

.table-footer .pagination li a {
  background: #262a36;
  padding: 10px;
  border-radius: 3px;
  color: #fff;
}

.table-footer .pagination li.active span {
  background: #2da1bb;
  padding: 10px;
  border-radius: 3px;
  color: #fff;
}

.table-footer .pagination li.disabled span {
  background: #c1c2c3;
  padding: 10px;
  border-radius: 3px;
  color: #fff;
}
