<app-header></app-header>
<div class="container-fluid" class="user-profile">
  <div class="container">
    <div id="user-img">
      <a href="#" class="image">
        <i aria-hidden="true" class="fa fa-camera-retro"></i>
      </a>
    </div>
  </div>

</div>
<div class="container-fluid user-nav">
  <div class="container">
      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <ul class="nav">
              <li><a href="#">Timeline</a></li>
              <li><a href="#">Billing</a></li>
              <li><a href="#">Settings</a></li>
            </ul>
          </div>
          <div class="col-md-3"></div>
        </div>
  </div>
</div>

<div class="container" id="main">
  <div class="row">
    <div class="col-md-3">
      <div class="user-info">
          <h3>Guram</h3>
          <div class="date"><i class="fa fa-calendar" aria-hidden="true"></i>Registration date: August 2017</div>
      </div>
    </div>
    <div class="col-md-6">
      <app-post></app-post>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>
